<h3>{{ legend }}</h3>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-outline-primary" type="button" (click)="changeValue(-5)">
      <i class="mdi mdi-minus"></i>
    </button>
  </div>
  <input #txtProgress type="number" class="form-control" name="progress" placeholder="" [(ngModel)]="percentage" (ngModelChange)="onChange($event)" min="0" max="100">
  <div class="input-group-append">
    <button class="btn btn-outline-primary" type="button" (click)="changeValue(5)">
        <i class="mdi mdi-plus"></i>
    </button>
  </div>
</div>