<div class="row">
  <div class="col-lg-7">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Perfil del usuario</h4>
        <h6 class="card-subtitle">nombre de usuario</h6>
        <form class="form p-t-20">
          <div class="form-group">
            <label for="exampleInputEmail1">User Name</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ti-user"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Username" aria-label="User Name">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ti-email"></i></span>
              </div>
              <input type="email" class="form-control" placeholder="Correo" aria-label="Correo">
            </div>
          </div>
          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
              <i class="fa fa-save"></i>
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Fotografía del usuario</h4>
        <h6 class="card-subtitle">nombre de usuario</h6>

        <img src="" alt="">

        <input type="file" name="" id="">

        <br>
        <hr>
        <br>

        <button type="button" class="btn btn-success waves-effect waves-light m-r-10">
          <i class="fa fa-upload"></i>
          Actualizar foto
        </button>
      </div>
    </div>
  </div>
</div>
